<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,322},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,364},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,322},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,324},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,312},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,276},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,338},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,324},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,300},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,264},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,468},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,242},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,160},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,160},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,116},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,404},{62,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,36}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,160},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>font_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,300},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,116},{16,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,44}</string>
            </dict>
            <key>font_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,262},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,224},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,186},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,226},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,188},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,160},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,160},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,160},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medals_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,276},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,276},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,230},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,230},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,154},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>pipe2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,188},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,188},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,188},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>score_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{226,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{226,114}}</string>
                <key>sourceSize</key>
                <string>{238,126}</string>
            </dict>
            <key>text_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,116},{192,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{192,42}}</string>
                <key>sourceSize</key>
                <string>{204,54}</string>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{184,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{184,50}}</string>
                <key>sourceSize</key>
                <string>{196,62}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,324},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,222},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FlappyBird.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977538b36c86aeb4bbb687f1269cfe6b$</string>
            <key>textureFileName</key>
            <string>FlappyBird.png</string>
        </dict>
    </dict>
</plist>
